registry=https://repo7.sebank.se/artifactory/api/npm/seb-npm
always-auth = true
HTTP_PROXY = "http://wss.sebank.se:8080"
HTTPS_PROXY = "http://wss.sebank.se:8080"
log-level = "verbose"
no_proxy = "sebank.se"